<a href="https://colab.research.google.com/github/sumu97/Data-Science-Review/blob/main/Kospi_Market_Analysis_sumu97.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#코스피 동향분석 및 예측 - sumu97

###개요
 - 코스피 지수의 동향을 예측하여, 선물옵션을 통한 단기적 수익실현 및 투자지표로서의 활용이 가능하도록 합니다.
 - 추후 동일한 모델을 부동산 시장 등에 적용시키기 위해, 데이터에 맞춰 쉽게 변형할 수 있도록 작성합니다.
 - 두 개 이상의 예측 모델을 활용하여 그 결과를 토대로 서로의 예측을 개선할 수 있게 합니다.

## 1. 데이터

In [2]:
import pandas as pd

In [4]:
f_gold = pd.read_csv('GOLD.csv')

In [ ]:
def get_data(csv_name, df_name):
  df_name = pd.read_csv(csv_name)
  columns = [[df_name + '_' + 'date', df_name + '_' + 'end_price', df_name + '_' + 'open_price']]

In [5]:
f_gold

                 날짜        종가        오픈        고가        저가      거래량    변동 %
0     2021년 11월 01일  1,785.55  1,781.30  1,788.70  1,781.25        -   0.24%
1     2021년 10월 31일  1,781.25  1,785.05  1,785.30  1,780.45        -  -0.15%
2     2021년 10월 29일  1,783.90  1,801.50  1,802.90  1,772.40  254.51K  -1.04%
3     2021년 10월 28일  1,802.60  1,798.70  1,812.70  1,793.10  220.88K   0.21%
4     2021년 10월 27일  1,798.80  1,795.00  1,801.00  1,784.30  182.80K   0.30%
...             ...       ...       ...       ...       ...      ...     ...
2637  2011년 10월 07일  1,634.50  1,657.00  1,665.00  1,626.20    0.07K  -1.05%
2638  2011년 10월 06일  1,651.90  1,642.60  1,654.70  1,637.60    0.04K   0.71%
2639  2011년 10월 05일  1,640.30  1,629.30  1,644.70  1,599.60    0.11K   1.59%
2640  2011년 10월 04일  1,614.70  1,661.00  1,678.10  1,596.60    0.16K  -2.49%
2641  2011년 10월 03일  1,656.00  1,627.80  1,660.80  1,627.60    0.10K   2.20%

[2642 rows x 7 columns]

In [7]:
df_name = 'gold'

In [8]:
  columns = [[df_name + '_' + 'date', df_name + '_' + 'en_price', df_name + '_' + 'op_price', df_name + '_' + 'hi_price',df_name + '_' + 'lo_price',df_name + '_' + 'volume',df_name + '_' + 'change',]]

In [9]:
columns

[['gold_date',
  'gold_en_price',
  'gold_op_price',
  'gold_hi_price',
  'gold_lo_price',
  'gold_volume',
  'gold_change']]