<a href="https://colab.research.google.com/github/sumu97/Data-Science-Review/blob/main/n112-feature-engineering/n112a-feature-engineering.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<img src='https://user-images.githubusercontent.com/6457691/89746244-a6e2a200-daf3-11ea-9314-7863d544d73c.png' width = '200' align = 'right'>

## *DATA SCIENCE / SECTION 1 / SPRINT 1 / NOTE 2*

# ğŸ“ Assignment

## 1. Feature Engineering

- `KT&G` ê¸°ì—… ë°ì´í„°ë¥¼ ê³„ì† ì‚¬ìš©í•©ë‹ˆë‹¤.
  - ë³€ìˆ˜ ì´ë¦„ì€ `df`ë¡œ ì €ì¥í•˜ì„¸ìš”.

- ê° ë¶„ê¸°ë³„ ì˜ì—…ì´ìµë¥ ì„ ì§ì ‘ ê³„ì‚°í•´ë³´ì„¸ìš”. 
  - Feature ì´ë¦„ì€ `ì˜ì—…ì´ìµë¥ 2` ì…ë‹ˆë‹¤.

- ì•„ë˜ ë°ì´í„°ë¥¼ ì°¸ì¡°í•˜ì—¬ 18/19ë…„ë„ì— ëŒ€í•´ì„œ Price to Dream Ratio (PDR)ì„ ê³„ì‚°í•˜ì„¸ìš”.
  - ë³€ìˆ˜ ì´ë¦„ì€ `df2`, feature ì´ë¦„ì€ `PDR`ë¡œ, `df2['PDR']`ì„ í†µí•´ `~` ê°’ì´ í™•ì¸ ë˜ì–´ì•¼í•©ë‹ˆë‹¤. ì•„ë˜ì˜ ì „ì œì¡°ê±´ì„ í™œìš©í•˜ì„¸ìš”.
  - ì ìœ ìœ¨ (ì¼ë°˜ë‹´ë°° ê¸°ì¤€) 
    - 18ë…„ : 62%
    - 19ë…„ : 63.5% 
  - ì‹œì¥ì˜ ê·œëª¨ 
     - 18ë…„ : 15ì¡° 
     - 19ë…„ : 15ì¡°

||êµ¬ë¶„|ì¢…ê°€|ë°œí–‰ì£¼ì‹ìˆ˜|ì‹œê°€ì´ì•¡|ì‹œì¥ì ìœ ìœ¨|PDR|
|:-:|:-:|:-:|:-:|:-:|:-:|:-:|
|0|18ë…„|101500|137292497|13935188445500|62.0|~|
|1|19ë…„|93800|137292497|12878036218600|63.5|~|

In [10]:
# 1-1 : CSV ë°ì´í„° ë¶ˆëŸ¬ì˜¤ê¸°
url = 'https://ds-lecture-data.s3.ap-northeast-2.amazonaws.com/kt%26g/kt%26g_0.csv'
headers = ['ë¶„ê¸°', 'ë§¤ì¶œì•¡', 'ì˜ì—…ì´ìµ', 'ì˜ì—…ì´ìµ(ë°œí‘œê¸°ì¤€)', 'ì„¸ì „ê³„ì†ì‚¬ì—…ì´ìµ',
           'ë‹¹ê¸°ìˆœì´ìµ', 'ë‹¹ê¸°ìˆœì´ìµ(ì§€ë°°)', 'ë‹¹ê¸°ìˆœì´ìµ(ë¹„ì§€ë°°)', 'ìì‚°ì´ê³„', 'ë¶€ì±„ì´ê³„',
           'ìë³¸ì´ê³„', 'ìë³¸ì´ê³„(ì§€ë°°)', 'ìë³¸ì´ê³„(ë¹„ì§€ë°°)', 'ìë³¸ê¸ˆ', 'ì˜ì—…í™œë™í˜„ê¸ˆíë¦„',
           'íˆ¬ìí™œë™í˜„ê¸ˆíë¦„', 'ì¬ë¬´í™œë™í˜„ê¸ˆíë¦„', 'ì˜ì—…ì´ìµë¥ ', 'ìˆœì´ìµë¥ ', 'ROE(%)',
           'ROA(%)', 'ë¶€ì±„ë¹„ìœ¨', 'ìë³¸ìœ ë³´ìœ¨', 'EPS(ì›)', 'PER(ë°°)']

import pandas as pd
df = pd.read_csv(url, names = headers)

# 1-2 : ë¶„ê¸°ë³„ ì˜ì—…ì´ìµë¥  ê³„ì‚°
def toint(col):
  temp_list = []
  for i in col:
    temp =  int(i.replace(',',''))
    temp_list.append(temp)
  return temp_list 

df['ì˜ì—…ì´ìµ'] = toint(df['ì˜ì—…ì´ìµ'])
df['ë§¤ì¶œì•¡'] = toint(df['ë§¤ì¶œì•¡'])
df['ì˜ì—…ì´ìµë¥ 2'] = round(df['ì˜ì—…ì´ìµ'] / df['ë§¤ì¶œì•¡'] * 100,2)

In [9]:
# 1-3 : PDR ê³„ì‚°
import pandas as pd
df2 = pd.DataFrame({'êµ¬ë¶„':['18ë…„','19ë…„'],
                    'ì¢…ê°€':[101500, 93800],
                    'ë°œí–‰ì£¼ì‹ìˆ˜':[137292497,137292497],
                    'ì‹œê°€ì´ì•¡':[13935188445500, 12878036218600],
                    'ì‹œì¥ì ìœ ìœ¨':[62.0, 63.5]})
total_market = 15000000000000
df2['PDR'] = df2['ì‹œê°€ì´ì•¡'] / (total_market * (df2['ì‹œì¥ì ìœ ìœ¨'] / 100) )

## 2. String Manipulation

- replaceê°€ ì•„ë‹Œ ë‹¤ë¥¸ ë°©ë²•ì„ ì‚¬ìš©í•˜ì—¬ 19ë…„ë„ 2ë¶„ê¸°ì˜ ë§¤ì¶œì•¡ ì„ integerë¡œ ë³€ê²½í•˜ì„¸ìš”. ê²°ê³¼ê°’ì€ 12578ì´ ë‚˜ì™€ì•¼í•©ë‹ˆë‹¤.

In [27]:
# ë°ì´í„° ë‹¤ì‹œ ë¶ˆëŸ¬ì˜¤ê¸°
url = 'https://ds-lecture-data.s3.ap-northeast-2.amazonaws.com/kt%26g/kt%26g_0.csv'
headers = ['ë¶„ê¸°', 'ë§¤ì¶œì•¡', 'ì˜ì—…ì´ìµ', 'ì˜ì—…ì´ìµ(ë°œí‘œê¸°ì¤€)', 'ì„¸ì „ê³„ì†ì‚¬ì—…ì´ìµ',
           'ë‹¹ê¸°ìˆœì´ìµ', 'ë‹¹ê¸°ìˆœì´ìµ(ì§€ë°°)', 'ë‹¹ê¸°ìˆœì´ìµ(ë¹„ì§€ë°°)', 'ìì‚°ì´ê³„', 'ë¶€ì±„ì´ê³„',
           'ìë³¸ì´ê³„', 'ìë³¸ì´ê³„(ì§€ë°°)', 'ìë³¸ì´ê³„(ë¹„ì§€ë°°)', 'ìë³¸ê¸ˆ', 'ì˜ì—…í™œë™í˜„ê¸ˆíë¦„',
           'íˆ¬ìí™œë™í˜„ê¸ˆíë¦„', 'ì¬ë¬´í™œë™í˜„ê¸ˆíë¦„', 'ì˜ì—…ì´ìµë¥ ', 'ìˆœì´ìµë¥ ', 'ROE(%)',
           'ROA(%)', 'ë¶€ì±„ë¹„ìœ¨', 'ìë³¸ìœ ë³´ìœ¨', 'EPS(ì›)', 'PER(ë°°)']

import pandas as pd
df = pd.read_csv(url, names = headers)
# ì‹¤ìˆ˜í™”
def toint(col):
  temp_list = []
  for i in col:
    temp =  int(i[:2] + i[3:])
    temp_list.append(temp)
  return temp_list 

df['ë§¤ì¶œì•¡'] = toint(df['ë§¤ì¶œì•¡'])

## 3. Apply
- ë°ì´í„°ì…‹ì˜ ë¶„ê¸°ë¥¼ ì œì™¸í•œ ëª¨ë“  featureì— ëŒ€í•´ì„œ ìˆ˜ì¹˜í˜• ë°ì´í„° (`int`, `float`) ë¡œ ìˆ˜ì •í•˜ê³ , `describe`ë¥¼ í†µí•´ summary statistics ë¥¼ í™•ì¸í•˜ì„¸ìš”.
- ë‹¨ ê²°ì¸¡ì¹˜ëŠ” `0`ìœ¼ë¡œ ì²˜ë¦¬í•©ë‹ˆë‹¤.

In [78]:
# ë°ì´í„° ë‹¤ì‹œ ë¶ˆëŸ¬ì˜¤ê¸°
url = 'https://ds-lecture-data.s3.ap-northeast-2.amazonaws.com/kt%26g/kt%26g_0.csv'
headers = ['ë¶„ê¸°', 'ë§¤ì¶œì•¡', 'ì˜ì—…ì´ìµ', 'ì˜ì—…ì´ìµ(ë°œí‘œê¸°ì¤€)', 'ì„¸ì „ê³„ì†ì‚¬ì—…ì´ìµ',
           'ë‹¹ê¸°ìˆœì´ìµ', 'ë‹¹ê¸°ìˆœì´ìµ(ì§€ë°°)', 'ë‹¹ê¸°ìˆœì´ìµ(ë¹„ì§€ë°°)', 'ìì‚°ì´ê³„', 'ë¶€ì±„ì´ê³„',
           'ìë³¸ì´ê³„', 'ìë³¸ì´ê³„(ì§€ë°°)', 'ìë³¸ì´ê³„(ë¹„ì§€ë°°)', 'ìë³¸ê¸ˆ', 'ì˜ì—…í™œë™í˜„ê¸ˆíë¦„',
           'íˆ¬ìí™œë™í˜„ê¸ˆíë¦„', 'ì¬ë¬´í™œë™í˜„ê¸ˆíë¦„', 'ì˜ì—…ì´ìµë¥ ', 'ìˆœì´ìµë¥ ', 'ROE(%)',
           'ROA(%)', 'ë¶€ì±„ë¹„ìœ¨', 'ìë³¸ìœ ë³´ìœ¨', 'EPS(ì›)', 'PER(ë°°)']

import pandas as pd
df = pd.read_csv(url, names = headers)

In [80]:
# ê²°ì¸¡ì¹˜ ì²˜ë¦¬
df = df.fillna(0)
#df.isnull().sum()
#df.dtypes

In [81]:
# ìˆ˜ì¹˜í˜• ë°ì´í„°ë¡œ ìˆ˜ì •
def to_numeric(col):
  temp_list = []
  for i in col:
    #print(i)
    try:
      if type(i) == float:
        temp_list.append(i)
        #print(i,'ì§€ë‚˜ê°‘ë‹ˆë‹¤ ë°”ë¡œ ì‹¤ìˆ˜í™”')
        continue
      temp = int(i)
      temp_list.append(temp)
      #print(i,'ì§€ë‚˜ê°‘ë‹ˆë‹¤ ë°”ë¡œ ì •ìˆ˜í™”')
    except:
      try:
        temp = int(i.replace(',',''))
        temp_list.append(temp)
        #print(temp,'ì§€ë‚˜ê°‘ë‹ˆë‹¤ ìˆ˜ì • ì •ìˆ˜í™”')
      except:
        temp = float(i.replace(',',''))
        temp_list.append(temp)
        #print(temp,'ì§€ë‚˜ê°‘ë‹ˆë‹¤ ìˆ˜ì • ì‹¤ìˆ˜í™”')
  return temp_list 

for i in df.columns[1:]:
  df[i] = to_numeric(df[i])

In [82]:
df.describe()

                ë§¤ì¶œì•¡         ì˜ì—…ì´ìµ  ...       EPS(ì›)     PER(ë°°)
count      5.000000     5.000000  ...     5.000000   5.000000
mean   12550.800000  3487.200000  ...  1966.000000  12.046000
std      664.979097   636.931079  ...   619.939513   1.898112
min    11784.000000  2523.000000  ...   873.000000   9.710000
25%    11982.000000  3150.000000  ...  2134.000000  10.460000
50%    12578.000000  3825.000000  ...  2135.000000  12.420000
75%    13188.000000  3947.000000  ...  2337.000000  13.770000
max    13222.000000  3991.000000  ...  2351.000000  13.870000

[8 rows x 24 columns]

## ğŸ”¥ ë„ì „ê³¼ì œ

### NA Value Handling

- 19ë…„ë„ 4ë¶„ê¸°ì˜ ë‹¹ê¸°ìˆœì´ìµ(ë¹„ì§€ë°°) ë¶€ë¶„ì„ Naë¡œ ëŒ€ì²´í•˜ì„¸ìš”
- ì´í›„ í•´ë‹¹ ê²°ì¸¡ì¹˜ë¥¼ mean imputation ë°©ë²•ì„ ì‚¬ìš©í•˜ì—¬ ì²˜ë¦¬í•˜ì„¸ìš”.

In [ ]:
# ì´ ê³³ì— ë‹µì•ˆì„ ì‘ì„±í•˜ì‹œê¸¸ ë°”ëë‹ˆë‹¤

### Feature Engineering

Relative Perfomance ë¼ëŠ” ìƒˆë¡œìš´ featureë¥¼ ê³„ì‚°í•˜ì„¸ìš”.

ì´ëŠ” ìµœê·¼ 1ë…„ì¹˜ ë§¤ì¶œì•¡ì˜ í‰ê· ê°’ì„ ê¸°ì¤€ìœ¼ë¡œ 

- 10% ì´ìƒ -> `S`
- 5% ì´ìƒ -> `A`
- -5 ~ 5% -> `B`
- -5%ì´í•˜ -> `C`
- 10%ì´í•˜ -> `D`

ë¼ëŠ” ê°’ì„ ê°–ëŠ” featureì…ë‹ˆë‹¤.

20ë…„ë„ 2ë¶„ê¸°ì— í•´ë‹¹í•˜ëŠ” ê²°ê³¼ê°’ì€ `A`ê°€ ë‚˜ì™€ì•¼í•©ë‹ˆë‹¤.

ê°ê°ì— í•´ë‹¹í•˜ëŠ” ë“±ê¸‰ì´ ë‚˜ì˜¤ê¸° ìœ„í•´ì„œ í•„ìš”í•œ ë§¤ì¶œì•¡ì„ ì¶”ê°€ë¡œ ì„œìˆ í•˜ì„¸ìš”.

In [ ]:
# ì´ ê³³ì— ë‹µì•ˆì„ ì‘ì„±í•˜ì‹œê¸¸ ë°”ëë‹ˆë‹¤