<a href="https://colab.research.google.com/github/sumu97/Data-Science-Review/blob/main/n112-feature-engineering/n112a-feature-engineering.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<img src='https://user-images.githubusercontent.com/6457691/89746244-a6e2a200-daf3-11ea-9314-7863d544d73c.png' width = '200' align = 'right'>

## *DATA SCIENCE / SECTION 1 / SPRINT 1 / NOTE 2*

# 📝 Assignment

## 1. Feature Engineering

- `KT&G` 기업 데이터를 계속 사용합니다.
  - 변수 이름은 `df`로 저장하세요.

- 각 분기별 영업이익률을 직접 계산해보세요. 
  - Feature 이름은 `영업이익률2` 입니다.

- 아래 데이터를 참조하여 18/19년도에 대해서 Price to Dream Ratio (PDR)을 계산하세요.
  - 변수 이름은 `df2`, feature 이름은 `PDR`로, `df2['PDR']`을 통해 `~` 값이 확인 되어야합니다. 아래의 전제조건을 활용하세요.
  - 점유율 (일반담배 기준) 
    - 18년 : 62%
    - 19년 : 63.5% 
  - 시장의 규모 
     - 18년 : 15조 
     - 19년 : 15조

||구분|종가|발행주식수|시가총액|시장점유율|PDR|
|:-:|:-:|:-:|:-:|:-:|:-:|:-:|
|0|18년|101500|137292497|13935188445500|62.0|~|
|1|19년|93800|137292497|12878036218600|63.5|~|

In [10]:
# 1-1 : CSV 데이터 불러오기
url = 'https://ds-lecture-data.s3.ap-northeast-2.amazonaws.com/kt%26g/kt%26g_0.csv'
headers = ['분기', '매출액', '영업이익', '영업이익(발표기준)', '세전계속사업이익',
           '당기순이익', '당기순이익(지배)', '당기순이익(비지배)', '자산총계', '부채총계',
           '자본총계', '자본총계(지배)', '자본총계(비지배)', '자본금', '영업활동현금흐름',
           '투자활동현금흐름', '재무활동현금흐름', '영업이익률', '순이익률', 'ROE(%)',
           'ROA(%)', '부채비율', '자본유보율', 'EPS(원)', 'PER(배)']

import pandas as pd
df = pd.read_csv(url, names = headers)

# 1-2 : 분기별 영업이익률 계산
def toint(col):
  temp_list = []
  for i in col:
    temp =  int(i.replace(',',''))
    temp_list.append(temp)
  return temp_list 

df['영업이익'] = toint(df['영업이익'])
df['매출액'] = toint(df['매출액'])
df['영업이익률2'] = round(df['영업이익'] / df['매출액'] * 100,2)

In [9]:
# 1-3 : PDR 계산
import pandas as pd
df2 = pd.DataFrame({'구분':['18년','19년'],
                    '종가':[101500, 93800],
                    '발행주식수':[137292497,137292497],
                    '시가총액':[13935188445500, 12878036218600],
                    '시장점유율':[62.0, 63.5]})
total_market = 15000000000000
df2['PDR'] = df2['시가총액'] / (total_market * (df2['시장점유율'] / 100) )

## 2. String Manipulation

- replace가 아닌 다른 방법을 사용하여 19년도 2분기의 매출액 을 integer로 변경하세요. 결과값은 12578이 나와야합니다.

In [27]:
# 데이터 다시 불러오기
url = 'https://ds-lecture-data.s3.ap-northeast-2.amazonaws.com/kt%26g/kt%26g_0.csv'
headers = ['분기', '매출액', '영업이익', '영업이익(발표기준)', '세전계속사업이익',
           '당기순이익', '당기순이익(지배)', '당기순이익(비지배)', '자산총계', '부채총계',
           '자본총계', '자본총계(지배)', '자본총계(비지배)', '자본금', '영업활동현금흐름',
           '투자활동현금흐름', '재무활동현금흐름', '영업이익률', '순이익률', 'ROE(%)',
           'ROA(%)', '부채비율', '자본유보율', 'EPS(원)', 'PER(배)']

import pandas as pd
df = pd.read_csv(url, names = headers)
# 실수화
def toint(col):
  temp_list = []
  for i in col:
    temp =  int(i[:2] + i[3:])
    temp_list.append(temp)
  return temp_list 

df['매출액'] = toint(df['매출액'])

## 3. Apply
- 데이터셋의 분기를 제외한 모든 feature에 대해서 수치형 데이터 (`int`, `float`) 로 수정하고, `describe`를 통해 summary statistics 를 확인하세요.
- 단 결측치는 `0`으로 처리합니다.

In [78]:
# 데이터 다시 불러오기
url = 'https://ds-lecture-data.s3.ap-northeast-2.amazonaws.com/kt%26g/kt%26g_0.csv'
headers = ['분기', '매출액', '영업이익', '영업이익(발표기준)', '세전계속사업이익',
           '당기순이익', '당기순이익(지배)', '당기순이익(비지배)', '자산총계', '부채총계',
           '자본총계', '자본총계(지배)', '자본총계(비지배)', '자본금', '영업활동현금흐름',
           '투자활동현금흐름', '재무활동현금흐름', '영업이익률', '순이익률', 'ROE(%)',
           'ROA(%)', '부채비율', '자본유보율', 'EPS(원)', 'PER(배)']

import pandas as pd
df = pd.read_csv(url, names = headers)

In [80]:
# 결측치 처리
df = df.fillna(0)
#df.isnull().sum()
#df.dtypes

In [81]:
# 수치형 데이터로 수정
def to_numeric(col):
  temp_list = []
  for i in col:
    #print(i)
    try:
      if type(i) == float:
        temp_list.append(i)
        #print(i,'지나갑니다 바로 실수화')
        continue
      temp = int(i)
      temp_list.append(temp)
      #print(i,'지나갑니다 바로 정수화')
    except:
      try:
        temp = int(i.replace(',',''))
        temp_list.append(temp)
        #print(temp,'지나갑니다 수정 정수화')
      except:
        temp = float(i.replace(',',''))
        temp_list.append(temp)
        #print(temp,'지나갑니다 수정 실수화')
  return temp_list 

for i in df.columns[1:]:
  df[i] = to_numeric(df[i])

In [82]:
df.describe()

                매출액         영업이익  ...       EPS(원)     PER(배)
count      5.000000     5.000000  ...     5.000000   5.000000
mean   12550.800000  3487.200000  ...  1966.000000  12.046000
std      664.979097   636.931079  ...   619.939513   1.898112
min    11784.000000  2523.000000  ...   873.000000   9.710000
25%    11982.000000  3150.000000  ...  2134.000000  10.460000
50%    12578.000000  3825.000000  ...  2135.000000  12.420000
75%    13188.000000  3947.000000  ...  2337.000000  13.770000
max    13222.000000  3991.000000  ...  2351.000000  13.870000

[8 rows x 24 columns]

## 🔥 도전과제

### NA Value Handling

- 19년도 4분기의 당기순이익(비지배) 부분을 Na로 대체하세요
- 이후 해당 결측치를 mean imputation 방법을 사용하여 처리하세요.

In [ ]:
# 이 곳에 답안을 작성하시길 바랍니다

### Feature Engineering

Relative Perfomance 라는 새로운 feature를 계산하세요.

이는 최근 1년치 매출액의 평균값을 기준으로 

- 10% 이상 -> `S`
- 5% 이상 -> `A`
- -5 ~ 5% -> `B`
- -5%이하 -> `C`
- 10%이하 -> `D`

라는 값을 갖는 feature입니다.

20년도 2분기에 해당하는 결과값은 `A`가 나와야합니다.

각각에 해당하는 등급이 나오기 위해서 필요한 매출액을 추가로 서술하세요.

In [ ]:
# 이 곳에 답안을 작성하시길 바랍니다